$fuente-titulo: "Acme", sans-serif;
//400

$fuente-principal: "Roboto", sans-serif;
//100-300-400-500-700-900

$fuente-codigo: "Roboto Mono", monospace;
//100-200-300-400

//Colores
$color-gris-01: #222222;
$color-gris-02: #434242;
$color-gris-03: #eaeaea;
$color-gris-04: #c3c3c3;
$color-claro-01: #f9f9f9;
$color-verde-01: #87e88b;
$color-verde-02: #87e860;
$color-rosa-01: #c72b79;
$color-negro: #252525;
$color-blanco: #fff;
