$fuente-titulo: "Acme", sans-serif;
//400

$fuente-principal: "Roboto", sans-serif;
//100-300-400-500-700-900

$fuente-codigo: "Roboto Mono", monospace;
//100-200-300-400

//Colores
$color-gris-01: #222222;
$color-gris-02: #434242;
$color-claro-01: #f9f9f9;
$color-verde-01: #87e88b;
$color-verde-02: #87e860;
$color-negro: #000;
$color-blanco: #fff;
